{% trans_default_domain 'FOSUserBundle' %}



        {{form_start(form, {'method': 'POST', 'attr':{'class': 'fos_user_registration_register'}})}}
        <table class="table-responsive">

            <tr>
                <td > {{ form_label(form.firstName) }}</td>
                <td >{{ form_label(form.lastName) }}</td>
            </tr>
            <tr>
                <td > {{ form_errors(form.firstName) }}</td>
                <td > {{ form_errors(form.lastName) }}</td>
            </tr>
            <tr>
                <td  >{{ form_widget(form.firstName) }}</td>
                <td >{{ form_widget(form.lastName) }}</td>
            </tr>


            <tr>
                <td> {{ form_label(form.username) }}</td>
                <td>{{ form_label(form.email) }}</td>
            </tr>
            <tr>
                <td > {{ form_errors(form.username) }}</td>
                <td > {{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td  >{{ form_widget(form.username) }}</td>
                <td >{{ form_widget(form.email) }}</td>
            </tr>

            <tr>
                <td > {{ form_label(form.plainPassword.first) }}</td>
                <td >{{ form_label(form.plainPassword.second) }}</td>
            </tr>
            <tr>
                <td > {{ form_errors(form.plainPassword.first) }}</td>
                <td > {{ form_errors(form.plainPassword.second) }}</td>
            </tr>
            <tr>
                <td  >{{ form_widget(form.plainPassword.first) }}</td>
                <td >{{ form_widget(form.plainPassword.second) }}</td>
            </tr>

            <tr>
                <td> {{ form_label(form.phone) }}</td>

            </tr>
            <tr>
                <td > {{ form_errors(form.phone) }}</td>


            </tr>
            <tr>
                <td  >{{ form_widget(form.phone) }}</td>

            </tr>

            <tr>
                <td> {{ form_label(form.bank) }}</td>
                <td>{{ form_label(form.accountName) }}</td>
            </tr>
            <tr>
                <td > {{ form_errors(form.bank) }}</td>
                <td > {{ form_errors(form.accountName) }}</td>
            </tr>
            <tr>
                <td  >{{ form_widget(form.bank) }}</td>
                <td >{{ form_widget(form.accountName) }}</td>
            </tr>

            <tr>
                <td > {{ form_label(form.accountNumber) }}</td>
                <td > {{ form_label(form.package) }}</td>
            </tr>
            <tr>
                <td > {{ form_errors(form.accountNumber) }}</td>
                <td > {{ form_errors(form.package) }}</td>
            </tr>
            <tr>
                <td  >{{ form_widget(form.accountNumber) }}</td>
                <td  >{{ form_widget(form.package) }}</td>
            </tr>
            <tr>
                <td colspan="2" class="panel-footer">
                    <input type="submit" value="{{ 'registration.submit'|trans }}"
                                              class="btn btn-md btn-outline btn-success btn-block" /></td>

            </tr>


        </table>
        {{ form_end(form) }}
